<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sales Report</title>
</head>
<body>
    <h1>Sales Report</h1>
    <p>Overall Sales Count: {{ sales_count }}</p>
    <p>Overall Amount: ₹{{ total_amount }}</p>
    <p>Overall Discount: ₹{{ total_discount }}</p>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>User Name</th>
                <th>Total Amount</th>
                <th>Ordered at</th>
                <th>Delivered at</th>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% if order.status != 'Cancelled' %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.total_amount }}</td>
                <td>{{ order.ordered_at|date:"Y-m-d" }}</td>
                <td>{{ order.delivered_at|date:"Y-m-d" }}</td>
                <td>{{ order.payment_method }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
